/*header,footer*/
html,body{
    font-family: 'Courier New', Courier, monospace,sans-serif;
    margin: 0;
    height: 100%;
}


a:hover {
    opacity: 0.3;
    text-decoration: none;
}

a {
    color: #A59612;
    text-decoration: none;
}

header,footer{
    height: 10%;
    color: #A59612;
    background-color: #1c3b49;
    padding: 5%;

}

nav,#footcon{    
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav {
    display: flex;
    align-items: center;
}


h2{
 margin: 0;
 color: #DBDBDB;
 text-shadow:
        1px 1px #A59612,
        -1px 1px #A59612,
        1px -1px #A59612,
        -1px -1px #A59612,
        1px 1px 5px #faf3b1;
}

nav ul {
    background-color: rgba(28, 59, 73, 0.3);
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#foo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon{
    width: 30%;
    text-align: end;
    }

#icon .svg-inline--fa{
    padding-left: 5%;
    height: 1.2em;
    } 

footer h4{
    margin: 0;
    }
    
footer h5 {
        text-align: center;
        margin: 0;    
    }
    

/*main*/

main {
    height: 80%;
    background-image: url(../img/pexels-kaique-rocha-57645.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size:cover;
}    

.form-control{
    background-color: #DBDBDB;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 7px 5px rgba(28, 59, 73, 0.3);
}


form{
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

input{
  height: 15px;
}

input,textarea{
    padding:10px;
    width: 70%;
}

::placeholder{
    position: relative;
}



#con{
    position: absolute;
    left: 5%;
    top: 40%;
}

button{
    height: 35px;
    width: 150px;
    line-height:3%;
    padding: 1%;
    border: 0;
    border-radius: 20px;
    background-color: #A59612;
    color: #DBDBDB;
    font-weight: bold;
}

button:hover{
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (min-width:768px) {
   /*header,footer*/
    nav h1{
    font-size: 200%;
    }

    nav ul{
    font-size: 130%;
    }

    nav ul li{
    padding-right: 30%;
    }

    header,footer{
    padding-top: 2%;
    padding-bottom: 2%;
    }

    footer h4{
    font-size: 120%;
    }

    #icon{
    width: 30%;
    text-align: end;
    }

    #icon .svg-inline--fa{
    padding-left: 10%;
    height: 2.5em;
    } 
    
    /*main*/
    #mainimage {
        height: 500px;
    }
}
