/*header,footer*/
html,body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100%;
}


a:hover {
    opacity: 0.3;
    text-decoration: none;
}

a {
    color: #A59612;
    text-decoration: none;
}

header,footer{
    height: 10%;
    color: #A59612;
    background-color: #1c3b49;
    padding: 5%;

}

nav,#footcon{    
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav h1{
 margin: 0;
}

nav ul {
    background-color: rgba(28, 59, 73, 0.3);
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: baseline;
}

/*main*/

main {
    height: 80%;
    background-color: #DBDBDB;
}    

#mainimage {
    height: 230px;
    background-image: url(../img/pexels-kaique-rocha-57645.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;

}    


@media screen and (min-width:768px) {
   /*header,footer*/
    nav h1{
    font-size: 200%;
    }

    nav ul{
    font-size: 130%;
    padding-top: 0;
    }

    nav ul li{
    padding-right: 30%;
    }

    header,footer{
    padding-top: 1%;
    padding-bottom: 1%;
    }

    footer h4{
    font-size: 120%;
    }

    #icon{
    width: 30%;
    text-align: end;
    }

    #icon .svg-inline--fa{
    padding-left: 10%;
    height: 2.5em;
    } 
    
    /*main*/
    #mainimage {
        height: 500px;
    }
}
