html,body{
    margin: 0;
    height: 100%;
}
nav{
    height: 15%;
    background-color: #1c3b49;
}
#modele{
    height: 70%;
    background-color: #dbdbdb;
}
footer{
    height: 15%;
    background-color: #1c3b49;
}
.modeletop{
    display: flex;
    flex-direction: column;
    
}
.modeleimg>img{
    width: 100%;
}
img:hover{
    opacity: 0.6;
}
.modeleftech{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #1c3b49 solid;
    border-radius: 4px;
    margin: 10px;
}
.modeleform{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #1c3b49 solid;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: ;
}
form{
    display: flex;
    flex-direction: column;
}
.bouton{
    padding-bottom: 20px;
}
.ftechnique{
    background-color: #1c3b49;
    width: 100%;
    text-align: center;
}
.dimtitre{
    border-bottom: 2px solid #1c3b49;  
}
.longueur{
    background-color:white;
    border-radius: 2px;
}
input{
    border: none;
    border-bottom: 1px #1c3b49 solid;
    background-color: #dcdcdc;
}
.formdate{
    display: flex;
    justify-content: center;
}

