html,body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100%;
}



a:hover {
    opacity: 0.3;
    text-decoration: none;
}

a {
    color: #A59612;
    text-decoration: none;
}

nav {
    height: 15%;
    color: #A59612;
    background-color: #1c3b49;
    padding: 0 5% 0 5%;
}

#nav {
    display: flex;
    align-items: center;
     padding-top:5%;
}

nav h1{
 margin: 0;
 
}

nav ul {
    background-color: rgba(28, 59, 73, 0.3);
    list-style: none;
    display: flex;
    justify-content: space-between;
   margin: 0;
   padding: 0;
   padding-top: 2%;
}


main {
    background-color: #DBDBDB;
}

#mainimage {
    height: 230px;
    background-image: url(../img/acceuilimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
}


#horaires {
    display: flex;
    justify-content: space-evenly;
}

#maintext,
#mainhoraies {
    padding: 3%;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

#semain{
    font-weight:bold;
}

main h3 {
    margin-bottom: 3%;
    text-align: center;
}



#title {
    position: absolute;
    font-size: 100%;
    color: white;
    top: 40%;
    left: 22%;
}


footer {
    background-color: #1c3b49;
    color: #A59612;
    padding: 5%;
}

#foo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h4{
margin: 0;
}

footer h5 {
    text-align: center;
    margin: 0;
    margin-top: 5%;

}

main img {
    width: 100%;
}

main iframe {
    width: 100%;
}

#icon .svg-inline--fa{
    height: 1.5em;
}


@media screen and (min-width:768px) {
    #title {
        font-size: 200%;
        top: 15%;
        left: 50%;
    }

    #mainimage {
        height: 500px;
    }

#maintext{
    position: absolute;
    top: 20%;
        left: 2%;
        width: 25%;
        background-color: rgba(255, 255, 255, 0.7);
}

#maintext,
#mainhoraies {
    border-radius: 30px;
}

    main iframe {
        width: 40%;
        margin: 3%;
    }


    #map{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    #mainhoraies {
       width: 50%;
    }
    
nav h1{
    font-size: 200%;
    margin-top: 1%;
}

nav ul{
    font-size: 130%;
    padding-bottom: 1%;
    margin-top: 0;
    padding-top: 0;
}

nav ul li{
    margin-right: 30%;
}

#nav,footer{
    padding-top: 1%;
    padding-bottom: 1%;
}

footer h4{
    font-size: 120%;
}



footer h5 {
    margin-top: 1%;
}

#icon{
    width: 30%;
    text-align: end;
}

#icon .svg-inline--fa{
    fill: aliceblue;
    margin-left: 10%;
    height: 2.5em;
}
}

