body,html{
    margin:0;
    height: 100%;
}

h2,h3,h4,h5,h6,p{
    margin: 0;
}

nav,footer{
    height: 15%;
    background-color: black;
}

main{
    height: 70%;
}

figure{
    width: fit-content;
}

figure>img{
    width: 500px;
}
nav h1{
    font-size: 150%;
    margin-top: 1%;
}

nav ul{
    font-size: 130%;
    padding-bottom: 1%;
    margin-top: 0;
    padding-top: 0;
}

nav ul li{
    margin-right: 30%;
}

#nav,footer{
    padding-top: 1%;
    padding-bottom: 1%;
}

footer h4{
    font-size: 120%;
}
#nav{
    display: flex;
    flex-direction: row;
}