body,html{
    margin:0;
    height: 100%;
}

h2,h3,h4,h5,h6,p{
    margin: 0;
}

nav,footer{
    height: 15%;
    background-color: black;
}

main{
    height: 70%;
}

figure{
    width: fit-content;
}

figure>img{
    width: 500px;
}